* {
    border: 1px solid #3e3e3e;
    margin: 5px;
}

body {
    background-color: #d8bfd8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

div {
    height: 200px;
}

#div-1 {
        background-color: #9370db;
}

#div-2 {
        background-color: #239666;
}

#div-3 {
        background-color: #70db94;
}

#div-4 {
        background-color: #d9db70;
}

@media (max-width: 900px) {
    div {
        display: inline-block;
        width: 20%;
        font-size: 32px;
    }
    #div-1,
    #div-2,
    #div-3,
    #div-4 {
        background-color: #9370db;
   }
} 

@media (max-width: 500px) {
    div {
        display: inline-block;
        width: 44%;
        font-size: 24px;
    }
    #div-1
    #div-2{
        background-color: #9370db;
    }
    #div-3,
    #div-4 {
        background-color: #28beb7;
    }
}

   