@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #2c2c2c;
    margin: 20px;
    padding: 20px;
    font-family: Arial;    
    font-size: 20px;
}

h1 {
    font-family: 'Rock 3D', cursive;
    font-size: 2.5rem;
    line-height: 2.5rem;;
    color: #fff;
}

h2 {
    font-size: 3rem;
    font-family: 'Rock 3D', cursive;
    line-height: 3rem;
    color: #fff;
}

/*nav {
    margin: 10px;
    padding: 10px;
    background-color: #999999;
    width: 200px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
*/

nav a{
    display: block;
    color: rgb(243, 119, 119);
}

.nav-link {
    color: black;
}

nav a.nav-link {
    color: green;
}

nav a.nav-link#link-1 {
    color: purple;
}

a:hover {
    color: #fda103;
    border-bottom: 2px solid #fda103;
}


div {
    padding: 10px;
}

img{
    width: 300px;
    height: 200px;
}

img#homepage-image {
    width: 300px;
    height: 200px;
    border: 3px dashed #2c2c2c;
    object-fit: cover;
    object-position: bottom;
}

footer {
    text-align: center;
    background-color: #2c2c2c;
    padding: 10px;
    color: #fff;
}


html {font-family: 'Raleway', sans-serif;
    background-color: #fff;}


